<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoperun.oracle.demo.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.hoperun.oracle.demo.model.User">
		<id column="IDP" jdbcType="DECIMAL" property="idp" />
		<result column="AGE" jdbcType="DECIMAL" property="age" />
		<result column="HEIGHT" jdbcType="DECIMAL" property="height" />
	</resultMap>
	<sql id="Base_Column_List">
		IDP, AGE, HEIGHT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Short"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from USER_TEST
		where IDP = #{idp,jdbcType=DECIMAL}
	</select>

	<select id="getUserList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from USER_TEST
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
		delete from USER_TEST
		where IDP = #{idp,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.hoperun.oracle.demo.model.User">
		insert into USER_TEST (IDP, AGE, HEIGHT
		)
		values (#{idp,jdbcType=DECIMAL}, #{age,jdbcType=DECIMAL},
		#{height,jdbcType=DECIMAL}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hoperun.oracle.demo.model.User">
		<selectKey resultType="java.lang.Short" order="BEFORE"
			keyProperty="idp">

			SELECT user_Sequence.NEXTVAL FROM DUAL

		</selectKey>
		insert into USER_TEST
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idp != null">
				IDP,
			</if>
			<if test="age != null">
				AGE,
			</if>
			<if test="height != null">
				HEIGHT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idp != null">
				#{idp,jdbcType=DECIMAL},
			</if>
			<if test="age != null">
				#{age,jdbcType=DECIMAL},
			</if>
			<if test="height != null">
				#{height,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hoperun.oracle.demo.model.User">
		update USER_TEST
		<set>
			<if test="age != null">
				AGE = #{age,jdbcType=DECIMAL},
			</if>
			<if test="height != null">
				HEIGHT = #{height,jdbcType=DECIMAL},
			</if>
		</set>
		where IDP = #{idp,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hoperun.oracle.demo.model.User">
		update USER_TEST
		set AGE = #{age,jdbcType=DECIMAL},
		HEIGHT = #{height,jdbcType=DECIMAL}
		where IDP = #{idp,jdbcType=DECIMAL}
	</update>
</mapper>